@model UserRegisterViewModel

@{
    ViewData["Title"] = "Create a new Account";
}

<section class="register-form">
    <div class="container">
        <div class="title">Please Register Your new Account</div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form method="post" enctype="multipart/form-data" novalidate>

            <div class="name form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName">
                <small><span asp-validation-for="FirstName" class="text-danger"></span></small>
            </div>

            <div class="lastname form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName">
                <small><span asp-validation-for="LastName" class="text-danger"></span></small>
            </div>




            <div class="street form-group">
                <label asp-for="StreetName"></label>
                <input asp-for="StreetName">
                <small><span asp-validation-for="StreetName" class="text-danger"></span></small>
            </div>



            <div class="postalcode form-group">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode">
                <small><span asp-validation-for="PostalCode" class="text-danger"></span></small>
            </div>

            <div class="city form-group">
                <label asp-for="City"></label>
                <input asp-for="City">
                <small><span asp-validation-for="City" class="text-danger"></span></small>
            </div>





            <div class="mobile form-group">
                <label asp-for="Mobile"></label>
                <input asp-for="Mobile">
                <small><span asp-validation-for="Mobile" class="text-danger"></span></small>
            </div>

            <div class="company form-group">
                <label asp-for="Company"></label>
                <input asp-for="Company">
                <small><span asp-validation-for="Company" class="text-danger"></span></small>
            </div>




            <div class="email form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email">
                <small><span asp-validation-for="Email" class="text-danger"></span></small>
            </div>

            <div class="password form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password">
                <small><span asp-validation-for="Password" class="text-danger"></span></small>
            </div>

            <div class="confirmpassword form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword">
                <small><span asp-validation-for="ConfirmPassword" class="text-danger"></span></small>
            </div>


            <div class="profileimage form-group">
                <label asp-for="ImageFile"></label>
                <input asp-for="ImageFile">
                <small><span asp-validation-for="ImageFile" class="text-danger"></span></small>
            </div>

            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    <label asp-for="TermsAndConditions"></label>
                    <input asp-for="TermsAndConditions">
                    <span class="checkmark"></span>
                </label>
                <small><span asp-validation-for="TermsAndConditions" class="text-danger"></span></small>
            </div>
            <button type="submit" class="btn-theme">Submit</button>


        </form>



    </div>
</section>