@{
    ViewData["Title"] = "Access was Denied";
}


<div class="denied">
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>You don´t have the right permissions to access this page</p>
    </div>
</div>

